@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: $color-midnight;
	overflow: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
}