@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');
@import 'loader';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: $color-midnight;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.card {
	width: 100%;
	height: 100vh;
	display: flex;
}

.card-img {
	background-position: center;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.card-content {
	padding: 10% 5%;
	box-sizing: border-box;
	width: 50%;
	background-color: $color-midnight;
	transition: background-color .3s ease-in-out;
}

.card-theme {
	font-weight: 900;
	font-size: 1.7vmin;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: $color-rain-dark;
}

.card-header {
	font-weight: 700;
	font-size: 54px;
	text-transform: capitalize;
	line-height: 1.16;
	margin: 3vmin 0 3.5vmin;
	color: $color-white;
}

.card-para {
	font-size: 1.6vmin;
	line-height: 1.8;
	font-weight: 300;
	margin-bottom: 2.5vmin;
	color: $color-white;
	text-transform: capitalize;
}

.card-link {
	color: $color-white;
	font-size: 1.8vmin;
	display: block;
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
	text-decoration: none;

	&:after {
		content: ' →';
	}
}

.prevnext {
	position: absolute;
	width: 4vmin;
	height: 8vmin;
	right: 2%;
	bottom: 0;
	top: 80%;
	color: $color-white;
	margin: auto 0;
}

.pn-btn {
	color: $color-white;
	width: 100%;
	height: 50%;
	border: 0;
	background: transparent;
	font-size: 20px;
}

#prev,
#next {
	position: relative;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:after {
		align-items: center;
		justify-content: center;
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0.6;
		transition: opacity 0.3s ease-out;
	}

	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

#prev:after {
	content: '↑';
}

#next:after {
	content: '↓';
}

@media only screen and (max-width: 768px) {
	.card {
		flex-direction: column;
	}

	.card-img {
		width: 100%;
		height: 55%;
	}

	.card-content {
		width: 100%;
		position: relative;
		height: 45%;
		padding: 5% 8% 5% 5%;

		&:before {
			content: '';
			height: 38px;
			width: 100%;
			position: absolute;
			top: -15px;
			z-index: 2;
			left: 0;
			transform: skew(0, 4deg); 
			background-color: $color-midnight;
		}
	}

	.card-header {
		font-size: 30px;
	}

	.card-para {
		font-size: 2.6vmin;
		line-height: 1.5;
	}

	.card-theme {
		font-size: 4vmin;
		letter-spacing: 8px;
	}

	.card-link {
		font-size: 3vmin;
	}

	.prevnext {
		width: 11vmin;
		height: 22vmin;
		right: 0%;
		bottom: 4px;
		top: auto;
	}
}
